
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion Profs & Salles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Page Gestion</h1>

<a href="/"> Retour</a>

<hr>

<h2>Profs</h2>

<form id="form-prof">
    <input type="text" id="nom" placeholder="Nom">
    <input type="text" id="prenom" placeholder="Prenom">
    <input type="text" id="email" placeholder="Email">
    <input type="text" id="specialite" placeholder="Specialite">

    <button type="button" onclick="addProf()">Ajouter</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Specialite</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="profs-tbody"></tbody>
</table>

<hr>

<h2>Salles</h2>

<input type="text" id="salleName" placeholder="Nom de la salle">
<button>Ajouter</button>

<ul id="sallesList"></ul>

<script src="{{ url_for('static', filename='Javascript.js') }}"></script>

</body>
</html>

